nav.navbar {
	margin-bottom: 2rem;
}

a.navbar-brand {
	font-size: 1.85rem;
	font-family: 'Graduate', cursive;
	text-transform: uppercase;
}

.img-fluid {
	margin-bottom: 1.25rem;
	width: 100% !important;
}

.small-text {
	font-size: 80%;
}

a.nav-link {
	color: white !important;
}

	a.nav-link:hover,
	a.nav-link:focus {
		color: #FFCB3E !important;
	}

.bg-primary {
	background: #4a76cf !important;
}

.btn-primary {
	background: #4a76cf !important;
	border: #4a76cf !important;
	color: white !important;
}

	.btn-primary:hover {
		background: black  !important;
		border: black  !important;
	}

.bg-secondary {
	background: #FFCB3E !important;
}

a {
	color: #4a76cf !important;
}

.footer {
	padding: 2rem 0 1.5rem;
	color: #4a76cf;
	font-size: .9rem;
}

.navbar-brand {
	color: #FFCB3E !important;
}

button.hamburger {
	background: #4a76cf !important;
	border: none;
}

a.active {
	color: #FFCB3E !important;
}

.card-body {
	background-color: #FFCB3E;
}

.card-text {
	text-align: center;
}

h2,
h4 {
	color: #4a76cf !important;
	margin-bottom: 1rem !important;
}

/* ==== GALLERY ==== */

#instafeed {
	width: 100% !important;
}

#instafeed img {
	width: 150px;
	margin: 0.35rem !important;
}

/* ==== SPONSORS ==== */

.jumbotron {
	padding: 1rem 1.5rem !important;
	text-align: center;
	color: black;
}

	.jumbotron h1 {
		font-size: 2rem;
	}

	.jumbotron a,
	.jumbotron {
		font-size: 1.65rem;
		color: black !important;
		
	}

	.jumbotron a img,
	.jumbotron img {
		padding-top: 3rem !important;
	}

.jumbotron-gold {
	background-color: #FFCB3E;
}

.jumbotron-silver {
	background-color: #D6D5DD;
}

.jumbotron-bronze {
	background-color: #B5695C;
}

.jumbotron-white {
	background-color: white;
}

	
/* ===== FORM STYLES ==== */

label {
    color: #333;
}


.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;
}





